*.hdf5
*.nc
pout.0
overshoot
ssp
inversions
data
postprocessing
.local
__pycache__
inversions_old
miniconda3.sif
rbinverse
petsc
petsc-src
ping.sh
test
ocean_conn
ssp5-8.5
env
/control/
!/templates/control/
ncs
scenarios
sensitivity/
