[submodule "bisicles/Chombo"]
	path = bisicles/Chombo
	url = https://github.com/applied-numerical-algorithms-group-lbnl/Chombo_3.2.git
[submodule "bisicles/master"]
	path = bisicles/master
	url = https://github.com/ggslc/bisicles-uob.git
[submodule "bisicles/invprob_sliding"]
	path = bisicles/invprob_sliding
	url = https://github.com/ggslc/bisicles-uob.git
	branch = invprob_sliding
[submodule "ocean_forcing/ismip6"]
	path = ocean_forcing/ismip6
	url = git@github.com:Jonniebarnsley/ismip6-antarctic-ocean-forcing.git
[submodule "bisicles/invprob_confidence"]
	path = bisicles/invprob_confidence
	url = git@github.com:Jonniebarnsley/bisicles.git
	branch = invprob_sliding
[submodule "lib/esgf_download"]
	path = lib/esgf_download
	url = git@github.com:Jonniebarnsley/esgf-download.git
